#slider {
  overflow: hidden;


  figure {
    position: relative;
    width: 200%;
    margin: 0;
    left: 0;
    animation: slide 30s infinite;

    img {
      width: 15%;
      float: left;
    }

    @keyframes slide {
      0% {
        left: 0;
      }
      20% {
        left: 0;
      }

      25% {
        left: -100%;
      }

      45% {
        left: -100%;
      }
      50% {
        left: -200%;
      }
      70% {
        left: -200%;
      }
      75% {
        left: -300%;
      }
      95% {
        left: -300%;
      }
      100% {
        left: -400%;
      }
    }
  }
}

.container {
  width: 100vw;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;


  img {
    width: 70%;
  }


  .products {
    color: rgb(0, 0, 0);
    text-align: center;

    section {
      .details {

        button {
          color: white;
          background-color: black;
          border: none;
          width: 50%;
          padding: 1rem;
          margin-bottom: 2rem;
        }
      }
    }
  }

  @media(min-width: 740px) {

    #slider {
      figure {
        width: 200%;
      }
    }

    .products {
      display: grid;
      grid-template-columns: 1fr 1fr;

    }

    img {
      width: 80%;
    }
  }

  @media(min-width: 1220px) {
    .products {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

    }

    img {
      width: 80%;
    }
  }

}
