.headerCategory {
  display: flex;
  overflow: hidden;

  #category {
    display: flex;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    transition: transform 0.5s, filter 0.5s;

    &:hover {
      transform: scale(1.1);
      -webkit-filter: none;
      -moz-filter: none;
      -ms-filter: none;
      filter: none;
    }

      span {
        position: absolute;
        font-size: 1.5rem;
        color: fff;
        background-color: rgba(0, 0, 0, .7);
      }

      img {
        width: 100vw;
        height: 60vh;
        object-fit: cover;
        float: left;
      }
    }
  }
.container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;


  img {
    width: 70%;
  }


  .products {
    color: rgb(0, 0, 0);
    text-align: center;

    section {
      .details {

        button {
          color: white;
          background-color: black;
          border: none;
          width: 50%;
          padding: 1rem;
          margin-bottom: 2rem;
        }
      }
    }
  }

  @media(min-width: 740px) {

    #slider {
      figure {
        width: 200%;
      }
    }

    .products {
      display: grid;
      grid-template-columns: 1fr 1fr;

    }

    img {
      width: 80%;
    }
  }

  @media(min-width: 1220px) {
    .products {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

    }

    img {
      width: 80%;
    }
  }

}
