.headerContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
	height: 3rem;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow:    0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow:         0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  background: rgb(0, 0, 0);
}

.headerContent {
	max-width: 1120px;

  h1 {
    color: white;
    font-size: 15px;
  }

	nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 2rem;

    h1 {
      margin-right: 1rem;
    }

    Form {
      margin-right: 1rem;

    }
	}
}
